# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
ENV/
env/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# VSCode settings
.vscode/

# macOS & Windows system files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# Python packaging
*.egg-info/
dist/
build/

# Secrets / environment
.env
